html {
    font-family: sans-serif;
    color: #111111;
}

body {
    margin: auto;
    width: 90%;
}

.upper {
    text-align: center;
    margin: auto;
    width: 100%;
}

#tripsContainer {
    margin: auto;
    width: 100%;
}

#canvasContainer {
    margin-top: 20px;
    position: relative;
    height: 50vh;
}
