html {
    font-family: sans-serif;
    color: #111111;
}

body {
    margin: auto;
    width: 90%;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

.column {
    flex: 50%;
}

#canvasContainer {
    margin-top: 20px;
    position: relative;
    height: 40vh;
}

.warnings {
    background-color: rgb(220,220,220);
    padding: 10px;
    max-width: 500px;
}

.warnings p {
    margin-top: 5px;
    margin-bottom: 0;
}

input {
    flex: 30%;
    width: 30%;
    height: 20px;
    font-size: 12px;
    display: inline-block;
}

form, .cols {
    display: flex;
    flex-flow: row;
}

label {
    flex: 30%;
    width: 30%;
    font-size: 16px;
    float: left;
    padding: 1px 10px;
    text-align: center;
}

.tag {
    flex: 20%;
    width: 20%;
}

button {
    display: inline-block;
    margin: 10px auto;
    width: 100px;
}

.green {
    color: rgb(0,140,0);
}

.red {
    color: rgb(140,0,0);
}

small {
    font-size: 10px;
}

@media screen and (max-width: 800px) {
    .column {
        flex: 100%;
    }

    button {
        width: 30%;
    }
}
